################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/**
**/bin/**
*/obj
*/bin
*.suo
**/.suo


/DevOps/DevOps.dbmdl
/DevOps/DevOps.jfm
